<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ErialbStore.Properties.Settings.ErialbStoreConnectionString"
            connectionString="Data Source=LAPTOP-RDO651AB;Initial Catalog=ErialbStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ErialbStore.Properties.Settings.ErialbStore" connectionString="Data Source=DESKTOP-RTLLTRA;Initial Catalog=ErialbStore;User ID=sa;Password=indah18"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>